#logo{
    margin: auto;
    margin-top: 160px;
    display: block;
    width: 272px;
    height: 92px;
    transition: width .5s, height .5s, margin-top .5s;
}

@media only screen and (max-height: 450px){
    #logo{
        width: 204px;
        height: 69px;
        margin-top: 100px;
    }
}

#searchbar{
    width: 480px;
    height: 44px;
    border: 1px solid lightgray;
    margin: auto;
    margin-top: 25px;
    border-radius: 24px;
}

#searchbar:hover{
    box-shadow: 0 1px 6px 0 lightgray;
    border-color: transparent;
}

#searchicon{
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    position: relative;
    right: 218px;
    bottom: 32px;
    filter: opacity(40%);
}

#microphone{
    width: 14px;
    height: 20px;
    display: block;
    margin: auto;
    position: relative;
    left: 212px;
    bottom: 52px;
}
