#logo{
    margin: auto;
    margin-top: 145px;
    display: block;
    width: 272px;
    height: 92px;
    transition: width .5s, height .5s, margin-top .5s;
}

@media only screen and (max-height: 450px){
    #logo{
        width: 204px;
        height: 69px;
        margin-top: 100px;
    }
}

#searchbar{
    width: 482px;
    height: 44px;
    border: 1px solid #dfe1e5;
    margin: auto;
    margin-top: 28px;
    border-radius: 24px;
}

#searchbar:hover{
    box-shadow: 0 1px 6px 0 lightgray;
    border-color: transparent;
}

#textinput{
    display: block;
    margin: auto;
    width: 390px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: none;
    color: rgba(0,0,0,.87);
}

#searchicon{
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    position: relative;
    right: 218px;
    bottom: 33px;
    filter: opacity(40%);
}

#microphone{
    width: 14px;
    height: 20px;
    display: block;
    margin: auto;
    position: relative;
    left: 216px;
    bottom: 52px;
}

#container{
    display: flex;
    margin: auto;
    width: 280px;
    justify-content: space-between;
}

#buttons{
    height: 35px;
    width: 132px;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 35px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    border-radius: 4px;
}

#buttons:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: black;
    cursor: pointer;
}

nav.top{
    display: flex;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 35px;
    align-items: center;
    padding: 5px;
}

nav.top a{
    flex-grow: 0;
    padding-left: 8px;
    padding-right: 8px;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

nav.top div.navspace{
    flex-grow: 1;
}

nav.top a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#signin:hover{
    text-decoration: none;
    cursor: default;
}

#dots:hover{
    opacity: 1;
}

#signin{
    background-color: #4285F4;
    color: white;
    height: 30px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
}

#dots{
    padding-top: 5px;
    padding-right: 10px;
    opacity: 0.65;
    height: 25px;
    width: 25px;
}

nav.bottom{
    display: flex;
    font-family: arial, sans-serif;
    height: 40px;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    background: #f2f2f2;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
}

nav.bottom a{
    flex-grow: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #5f6368;
    text-decoration: none;
}

nav.bottom div.navspace{
    flex-grow: 1;
}

nav.bottom a:hover{
    text-decoration: underline;
    cursor: pointer;
}




